/*reseteo*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body {
    background-color: black;
}
.salto {
    display: flex;
    background-color: white;
}
/* Barra navegación*/
.barraNav a{
    background-color: black;
    padding: 15px;
    width: 100%;
    color: white;
    display: inline;
    text-decoration: none;
    font-size: large;
    
}
/*img Logo*/
.barraNav img {
    width: 40%;
    height: auto;
    min-width: 350px;
}
/*navegacion <<<<--- */

.clear:after {
    clear: both;
}

.clear {
    *zoom: 1;
}

a#pull {
    display: none;
    transition:all .5s;
}
nav {
    height: 40px;
    width: 100%;
    position: relative;
}

nav ul {
    padding: 0;
    margin: 0 auto;
    width: 600px;
    height: 40px;
    margin-top: 10px;
}

nav li {
    display: inline;
    float: center;
}

nav a {
    color: #FFF;
    display: inline-block;
    width: 100px;
    text-align: center;
    line-height: 47px;
    transition:all .5s;
}

nav a:hover, nav a:active {
    background-color: rgb(218, 3, 3);
    transition:all .5s;
}
@media only screen and (max-width : 600px) {
    nav {
        border-bottom: 0;
        height: auto;
    }

    nav ul {
        display: none;
        height: auto;
        width: 100%;
    }

    nav li {
        width: 50%;
        float: left;
        position: relative;
    }

    nav a {
        text-align: left;
        width: 100%;
        text-indent: 25px;
     }

    nav a#pull {
        display: block;
        background-color: black;
        width: 100%;
        position: relative;
        transition:all .5s;
    }

    nav a#pull:after {
        content:"";
        background: url('../images/nav-icon.png') no-repeat;
        width: 30px;
        height: 30px;
        display: inline-block;
        position: absolute;
        right: 15px;
        top: 10px;
        transition:all .5s;
    }
}

/*-->> Fin navegacion*/

/*=== MAIN === contenido bienvenida    <<<*/ 
.principal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    height: 450px;
    padding: 3%;
    background-image: url('../images/sushi.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    /*font-family:Verdana, Geneva, Tahoma, sans-serif;*/
    
}
.principal h1 {
    font-weight: bold;
    animation-duration: 3s;
    animation-name: slidein;
    font-family:sans-serif;
}
.principal p,
.principal a {
    font-size:x-large;
    animation-duration: 5s;
    animation-name: slidein;
}
.productos {
    color: white;
    background-image: url('../images/sushi2.jpg');
}

.servicios {
    padding: 80px;
    color: white;
}
.rrhh {
    padding: 100px;
    color: white;
}
.formulario {
    padding: 100px;
    color: white;
}
.faqs {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 450px;
    background-image: url('../images/sushi2.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 80px;
}

.faqs h1 {
    font-weight: bold;
    animation-duration: 1.5s;
    animation-name: slidein;
    font-family:sans-serif;
}
.faqs span,
.faqs a {
    display: inline;
    font-size:large;
    animation-duration: 3s;
    animation-name: slidein;
}

.cuerpo-faqs {
    padding: 200px;
    color: white;
    font-size: x-large;
}
/*>>> Fin contenido bienvenida */
.productosBienvenida {
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    text-align: end;
    height: 450px;
    background-image: url('../images/prod.jpg');
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    color: white;
    padding: 80px;
}
.productosBienvenida h1 {
    font-weight: bold;
    animation-duration: 1.5s;
    animation-name: slidein;
    font-family:sans-serif;

}
.productosBienvenida p,
.productosBienvenida a {
    font-size:large;
    animation-duration: 3s;
    animation-name: slidein;
 }

.catalogo {
    border: 1px solid white;
    border-radius: 10px;
    color: white;
    text-align: center;
    margin-top: 40px;
    padding: 1%;
    font-size: x-large;
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(77,0,0,1) 0%, rgba(0,0,0,1) 100%);
    transition: 2s;
    }
.catalogo:hover {
    background: rgb(2,0,36);
    background: radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(195,0,0,1) 0%, rgba(0,0,0,1) 100%);
    transition: 2s;
}
.catalogo a {
    color: white;
    text-decoration: none;
    transition: 2s;
}
.catalogo a:hover {
    font-size: xx-large;
}

 .cont_grid {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-column-gap: 50px;
    grid-row-gap: 50px;
    margin-top: 100px;
    padding: 20px;
    
  }
 .cont_grid div {
    border-radius: 15px;
    border: 3px solid rgb(97, 97, 97);
    color: white;
    padding: 4px;
    transition: 1s;
}
.cont_grid img {
    width: 100%;
    height: auto;
}
.cont_grid p {
    text-align: center;
    margin-top: 10px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
.cont_grid div:hover {
    -webkit-transform:scale(1.1);
    transform:scale(1.1);
    transition: 1s;
}
@media (max-width: 550px) {
    .cont_grid {
        grid-template-columns: 1fr 1fr;
    }
}


.cont {
    padding: 50px;
    gap: 30px;
    display: flex;
    justify-content: center;
}
.cont div {
    color: white;
    width: 272px;
    height: 363px;
    border: 1px solid white;
    background: rgb(0, 0, 0);
    text-align: center;
}
/* Footer Pie de pagina*/

/* Ubicacion en map */
.map {
    color: white;
    overflow:hidden;
    padding-bottom:56.25%;
    position:relative;
  text-align: center;
  font-size: 30px;
  top: 10px;
}
.map iframe {
     left: 10px;;
    top: 50px;;
    height:90%;
    width:98%;
    position:absolute;
}
.map-contac {
    width:auto; 
    height:450px;
}
.whatsapp {
    position: fixed;
    bottom: 5%;
    right: 1;
    padding: 2%;  
    margin-left: 90%;
}
.whatsapp img {
    width: 80%;
    height: auto;
    transition:all .5s;
}

.whatsapp img:hover {

    transition:all .5s;
    width: 85%;
}
.invertir {
    filter: invert(100%);
}
.icono {
    width:63px;
    height:63px;
    transition: 1s;
}
.icono:hover{
    width:70px;
    height:70px;
    transition: 1s;
}
/* animacion */

@keyframes slidein {
    from {
      margin-left: 100%;
      width: 300%
    }
  
    to {
      margin-left: 0%;
      width: 100%;
    }
  }
